{% extends 'base.html' %}
{% load static %}

{% block login %}
<h3>The Name Eudaemo</h3>
<p>Latin origins, eu: well or good and deamon: originally referred to a lesser deity or guiding spirit</p>
<br/>
<h3>The Motivation</h3>
<p>The Paradox of Choice, by Barry Schwartz's, shows you how today’s vast amount of choice makes you frustrated, less likely to choose, more likely to mess up, and less happy overall, before giving you concrete strategies and tips to ease the burden of decision-making</p>
<ul>
    <li>
        The more options you have, the harder it gets to decide, and to decide well.
    </li>
    <li>
        The more options you have, the less happy you will be, no matter what you decide on.
    </li>
    <li>
        Good enough is the best – become a satisfier.
    </li>
</ul>
<h3>The Book Portion</h3>
<p>Setting goals can be very helpful in getting where you want to go and having smaller goals along the way not only increases the likely hood of completion but also provides little ego boosts along the way.</p>
{% endblock %}
