{% extends 'base.html' %}
{% load static %}

{% block content %}
<p>Reading is something that many people with they did more of. If you like to have things written down, this tool can
help you reach your reading goals. Enter the day you want to start reading a book, when you want to complete the book by,
the title of the book, how many pages are in the book, and how frequently you want to have reminders added to your google calendar.
In your google calendar, on the start date, it will remind you that you wanted to start reading the book that day and,
    if you pick a frequency of 7 days, every 7 days there will be a reminder in your calendar with the page number that you should
be on before the end of the day if you want to keep pace to finish the book by your goal date.</p>
{% endblock%}
